<div id="about_page">
  <div class="left_pane">
    <div class="line">
      <h1 id="about">About</h1>
      <h1 id="me">Me</h1>
    </div>
    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxx
       xxxxxxxxxxxxxxxxxxxxxxxxxxxx
       xxxxxxxxxxxxxxxxxxxxxxxxxxxx
       xxxxxxxxxxxxxxxxxxxxxxxxxxxx
       xxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </p>

    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxx
       xxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </p>

    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </p>

    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxx
       xxxxxxxxxxxxxxxxxxxxxxxxxxxx
       xxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </p>

  </div>
</div>