<div id="about_page">
  <div id="about_left_pane" class="left_pane">
    <div class="line">
      <h1 id="about">About</h1>
      <h1 id="me">Me</h1>
    </div>

    <p>
      I specialize in designing and building websites for both
      large and small companies.
    </p>

    <p>
      I have a deep knowledge of Ruby on Rails, HTML, CSS, JavaScript, and Adobe Illustrator.
    </p>

    <p>
      I currently am based in Chicago, though I am open to working remotely.
    </p>

    <p>
      I do freelance development for small businesses. I enjoy helping businesses develop a web presence, ... then turning that into efficient, well-designed sites.
    </p>

    <p>
      In my free time, I like to contribute to open-source projects and continue to grow my knowledge of new technologies.
    </p>

  </div>
</div>