<div id="about_page">
  <div class="left_pane">
    <div class="line">
      <h1 id="about">About</h1>
      <h1 id="me">Me</h1>
    </div>
    <p>
      I love all aspects of programming, but my main interests are front-end development, UI, and applying creativity to code.
    </p>

    <p>
      I currently do freelance development for small businesses. I enjoy working with customers to learn what they want, then turning that into efficient, well-designed sites.
    </p>

    <p>I currently reside in the Chicago area.</p>

    <p>
      xxxxxxxxxxxxxxxx
    </p>

    <p>
      In my free time, I like to contribute to open-source projects and continue to grow my knowledge of new technologies.
    </p>

  </div>
</div>