<div id="about_page">
  <div id="about_left_pane" class="left_pane">
    <div class="line">
      <h1 id="about">About</h1>
      <h1 id="me">Me</h1>
    </div>

    <p>
      Want to expand your business's web presence? I can make a beautiful, secure website that will expose your business to the infinite reach of the web.
    </p>

    <p>
      When I started my career as a web developer, I wanted to take my background in sales and marketing and use it to make a different kind of web development service, one that places the user experience first. Everything I make, I make with the customer in mind.
    </p>

    <p>
      My philosophy is one of close collaboration with my client. Just tell me your vision, and I will make all the technical stuff happen like magic.
    </p>

    <p>
      I have a deep knowledge of Ruby on Rails, HTML5, CSS3, JavaScript, and Adobe Illustrator. Currently based in Chicago, I am also available to work remotely.
    </p>
  </div>
</div>