<div id="navbar">
  <table id="button_panel"> 
    <tr class="buttons" id="home">
      <td class="button_transform">
        <td class="text_display">
          <h>Home</h>
        </td>
      </td>
    </tr>
    <tr class="buttons" id="about">
      <td class="button_transform">
        <td class="text_display">
          <h>About</h>
        </td>
      </td>
    </tr>
    <tr class="buttons" id="skills">
      <td class="button_transform">
        <td class="text_display">
          <h>Skills</h>
        </td>
      </td>
    </tr>
    <tr class="buttons" id="my_work">
      <td class="button_transform">
        <td class="text_display">
          <h>My Work</h>
        </td>
      </td>
    </tr>
    <tr class="buttons" id="contact">
      <td class="button_transform">
        <td class="text_display">
          <h>Contact</h>
        </td>
      </td>
    </tr>
  </table>
</div>

<div id="center_column" class="container">
  <div id="center_column_spacer"></div>
  <div class="center_column_row">

    <div class="center_column_img">
      <%= image_tag "screen_cap6" %>
    </div>
    <div class="center_column_p">
      <div class="inner_p_container">
        <p>My goal was to make Fauxbook as simple as possible, while still evoking the experience of a social network. I started by defining the basic data models and their associations. While fairly simple, the resulting diagram helped me explore the problem space and spot possible roadblocks ahead of time.</p>
      </div>
    </div>

  </div>

  <div class="center_column_row">

    <div class="center_column_img">
      <%= image_tag "screen_cap6" %>
    </div>
    <div class="center_column_p">
      <div class="inner_p_container">
        <p>My goal was to make Fauxbook as simple as possible, while still evoking the experience of a social network. I started by defining the basic data models and their associations. While fairly simple, the resulting diagram helped me explore the problem space and spot possible roadblocks ahead of time.</p>
      </div>
    </div>

  </div>
</div>