<div class="page">
  <div id="intro">
    <h1>John Marks</h1>
    <p>This is my page</p>
  </div>
</div>

<%= link_to image_tag("me"), projects_path, id: "selfie" %>
<%= link_to "See My Projects", projects_path, id: "selfie_caption" %>