<div id="navbar">
</div>

<div id="navbar_spacer">
  &nbsp;
</div>

<div id="center_column">
  <div id="center_column_spacer"></div>
  <div class="center_column_row">

    <div class="center_column_img">
      <%= image_tag "screen_cap6" %>
    </div>
    <div class="center_column_p">
      <div class="inner_p_container">
        <p>My goal was to make Fauxbook as simple as possible, while still evoking the experience of a social network. I started by defining the basic data models and their associations. While fairly simple, the resulting diagram helped me explore the problem space and spot possible roadblocks ahead of time.</p>
      </div>
    </div>

  </div>

  <div class="center_column_row">

    <div class="center_column_img">
      <%= image_tag "screen_cap6" %>
    </div>
    <div class="center_column_p">
      <div class="inner_p_container">
        <p>My goal was to make Fauxbook as simple as possible, while still evoking the experience of a social network. I started by defining the basic data models and their associations. While fairly simple, the resulting diagram helped me explore the problem space and spot possible roadblocks ahead of time.</p>
      </div>
    </div>

  </div>
</div>

<div id="footer">
</div>