<div id="general" class="navbar">
  <%= render "navbar" %>
</div>

<div id="center_column">
  <div class="sample_containers" id="sample_container1">
    <%= image_tag "logo", class: "samples", id: "sample1" %>
    <div class="image_transform">
      <div class="sample_description">
        <p>This is a message</p>
      </div>
    </div>
  </div>
  <div class="sample_containers">
    <%= image_tag "screen_cap6", class: "samples", id: "sample2" %>
    <div class="image_transform">
      <div class="sample_description">
        <p>This is a message</p>
      </div>
    </div>
  </div>
</div>