<div id="skills_page">
  <div class="left_pane">
    <div class="line">
      <h1 id="headline1">Skills</h1>
      <h1 id="ampersand">&</h1>
    </div>
    <h1 id="headline2">Experience</h1>
    <p>Press a highlighted button to see a project.</p>
    <ul>
      <% @skills.each do |skill| %>
        <% @highlighted.include?(skill) ? hl = "highlight" : hl = "no_highlight" %>
        <%= content_tag(:li, skill.upcase, id: skill.gsub(/ /, '_'), class: hl,
                        onclick: "lightButton(this)") %>
      <% end %>
    </ul>
  </div>
  <div id="skills_right_pane">
    <div id="skills_project_img"></div>
  </div>
</div>

<script>
  function lightButton(i) {
    var previous = document.querySelector('.selected');

    if (previous != null && previous.id != i.id) {
      previous.className = "highlight";
    };

    if (i.className == "highlight") {
      i.className = "selected";
    };
  };
</script>

<script>
  var image = document.createElement('img');
  var left_pane = document.querySelector('.left_pane');
  var bullets = left_pane.querySelectorAll('li');

  var urls = new Object();
  
  urls['ruby_on_rails'] = 'https://arcane-stream-86572.herokuapp.com';
  urls['object-oriented_programming'] = 'https://github.com/johnjmarks4/chess';
  urls['tdd'] = 'https://github.com/johnjmarks4/chess/blob/master/specs/game_spec.rb';
  urls['cs_fundamentals'] = 'https://github.com/johnjmarks4/n_queens';

  bullets.forEach( (bullet) => {
    bullet.addEventListener('click', function() {
      var image_name = bullet.id;
      var link = document.createElement('a');
      if (image_name == "css3" || image_name == "html5") {
        var image_name = "ruby_on_rails";
      }
      var href = urls[image_name];
      link.setAttribute('href', href);
      console.log(image_name);
      var pane = document.querySelector('#skills_project_img');
      pane.appendChild(link);
      image.setAttribute('src', '/assets/'.concat(image_name.concat(".jpg")));
      link.appendChild(image);
    })
  })
</script>