#selfie_container {
  order: 2;
  float: right;
  position: relative;
  margin-top: 2.5547%;
  right: 2.7737%;
  width: 242.45px;
  display: flex;
  flex-flow: column;
}

#selfie {
  order: 1;
  object-fit: cover;
  box-sizing: content-box;
  height: 175.5px;
  width: 225px;
  background-color: white;
  padding: 10.5px;
  padding-top: 13.5px;
  padding-bottom: 0;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

#selfie img {
  position: relative;
  right: 11px;
  bottom: 14px;
  object-fit: cover;
  box-sizing: content-box;
  height: 175.5px;
  width: 225px;
  background-color: white;
  padding: 10.5px;
  padding-top: 13.5px;
  padding-bottom: 0;
}

#selfie:hover {
  position: relative;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  z-index: 5;
}

#selfie:hover + #selfie_caption {
  transform: scale(1.251, 1.179) translate(3px, 24.3px);
  -webkit-transform: scale(1.251, 1.179) translate(3px, 24.3px);
  -o-transform: scale(1.251, 1.179) translate(3px, 24.3px);
  -moz-transform: scale(1.251, 1.179) translate(3px, 24.3px);
  transition: all .15s ease-in-out;
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  z-index: 6;
}

#selfie_caption {
  order: 2;
  position: absolute;
  right: 0.35%;
  top: 99%;
  text-decoration: none !important;
  font-family: "Permanent Marker";
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  font-size: 20px;
  width: 245.5px;
  color: black;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  transition: all .15s ease-in-out;
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  padding: 16.25px;
  background-color: white;
  text-align: center;
}
