@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  background-color: #3f3f3f;
  overflow: hidden;
}

::selection {
  background: #FF8300;
  color: white;
}
::-moz-selection {
  background: #FF8300;
  color: white;
}

#intro {
  order: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#intro p, #intro h1 {
  white-space: nowrap;
}

h1, p {
  text-align: center;
  font-family: "Tahoma", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  letter-spacing: -1px;
  font-size: 1.6em;
  line-height: 36px;
  font-weight: 700;
  color: #cfcfcf;
}

#john_marks {
  color: #98ff98;
}

p {
  font-size: 1.18em;
  color: #cfcfcf;
  letter-spacing: 1px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  z-index: 99;
  background-color: #181818;
}

.navbar #logo {
  width: 59px;
  height: 110.88px;
  margin: 0 auto;
  position: relative;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica";
  font-weight: bold;
  line-height: 26px;
  color: rgb(237, 93, 31);
  background-color: #070707;
  text-align: center;
  vertical-align: bottom;
}

#my_work_page {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: 100%;
  padding: 46px 23px;
  padding: 0;
}

.sample_containers {
  width: 33.3333%;
  height: 33.3333%;
  min-width: 231.98px;
  margin-left: 60px;
}

.sample_containers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#sample_container1 { 
  background-color: #4267b2;
  overflow: hidden;
}

#sample_container1 img {
  order: 1;
  background-color: #4267b2;
  object-fit: contain;
  position: relative;
  left: 50%;
  margin-left: -150.69px !important;
  width: 301.38666px;
  margin: 0 auto;
}

#sample_container2 img {
  order: 2;
}

.navbar #button_panel {
  height: 75px;
  width: 503px;
  min-height: 270px;
}

.navbar .buttons {
  background-repeat: no-repeat;
  background-position: center;
}

.navbar .buttons h {
  line-height: 75px;
}

.navbar #button_panel {
  position: absolute;
  top: 50%;
  margin-top: -135px;
  width: 60px;
  height: 270px;
}

.navbar #button_panel a {
  width: 60px;
  height: 51px;
  text-align: center;
}

#contact_me {
  display: block;
  text-decoration: none;
  width: 157.2px;
  height: 43.4px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 5px;
  font-family: "Montserrat", "Tahoma";
  font-size: 11px;
  color: #f65026;
  border: thin solid #f65026;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
  top: 40px;
}

#contact_me:hover {
  background-color: #f65026;
  color: #3f3f3f;
}

.navbar ul {
  object-fit: contain;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 60px;
  min-height: 120px;
}

ul a {
  display: block;
  width: 60px;
  height: 30px;
}

#skills_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#skills_left_pane .line { 
  position: relative;
  top: 4.4%; 
  margin-bottom: 15px;
}

#skills_left_pane, #about_left_pane {
  order: 1;
  position: absolute;
  left: 10.625%;
  margin: 0 auto !important;
  width: 410px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#about_left_pane {
  position: absolute !important;
  margin: 7.5px 0;
  line-height: 20px;
  -webkit-transform: none;
  transform: none;
}

#skills_right_pane {
  order: 2;
  position: absolute;
  top: 2.6%;
  right: 5.6204%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#skills_left_pane ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

#skills_left_pane li {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85em;
  font-weight: bold;
  color: #999;
  background-color: #313131;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  border: thin solid #222;
  padding: 8px 5px;
  border-radius: 3px;
  margin: 8.3px 3px;
  position: relative;
  right: 3px;
  cursor: pointer;
}

li.highlight {
  background: linear-gradient(to bottom, #545454 50%, #3f3f3f 50%);
}

li.highlight:hover {
  color: #98ff98 !important;
  text-shadow: 0 0 1px #98ff98; /*0 0 10px #98ff98, 0 0 20px #98ff98, 0 0 30px #98ff98, 0 0 40px #98ff98, 0 0 55px #98ff98, 0 0 75px #97FF98;*/
}

li.selected {
  background: linear-gradient(to bottom, #545454 50%, #3f3f3f 50%);
  color: #bdffbd !important;
  text-shadow: 0 0 6px #98ff98;
}

#skills_left_pane h1, #about_left_pane h1 {
  font-size: 4.1em !important;
  text-align: left;
  margin: 0;
  margin-top: 30px;
  font-size: 48px;
}

#skills_left_pane #headline1 {
  float: left;
  margin-top: 30px !important;
  color: #f65026;
}

#skills_left_pane #ampersand {
  float: right;
  position: relative;
  margin-top: 30px !important;
  right: 207px;
}

#skills_left_pane #headline2 {
  color: #98ff98;
  margin-bottom: 24px;
}

#skills_left_pane p, #about_left_pane p {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 26px;
}

#skills_page #l_button {
  order: 1;
  height: 50px;
  width: 25px;
  background-image: url("arrows");
  background-position: left;
  margin-right: 5px;
  cursor: pointer;
}

#skills_page #l_button:active {
  background-image: url("arrows green");
}

#skills_page #images { display: none; }

#skills_project_img {
  order: 2;
  height: 318.5px !important;
  width: 509.19px;
  object-fit: cover;
  background-color: #313131;
  background-image: url("image");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  float: left;
  position: relative;
}

#skills_project_img img {
  position: absolute;
  left: 100%;
  display: block;
  width: 509.19px;
  height: 318.5px;
}

#skills_project_img img.show {
  position: absolute;
  left: 100%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: 0.35s;
}

#slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 509.19px;
}

#skills_page #r_button {
  order: 3;
  height: 50px;
  width: 25px;
  background-image: url("arrows");
  background-position: right;
  margin-left: 5px;
  cursor: pointer;
}

#skills_page #r_button:active {
  background-image: url("arrows green");
}

#about_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#about_page #about {
  float: left;
  color: #98ff98;
  margin-bottom: 30px;
}

#about_page .left_pane {
  width: 544.61px;
}

#about_page .left_pane p {
  margin: 7.5px 0;
  line-height: 20px;
}

#about_page #me {
  float: right;
  position: relative;
  right: 282px;
  color: #f65026;
}

#contact_page {
  height: 100%;
  width: 100%;
}

#contact_left_pane {
  position: absolute;
  left: 10.625%;
  width: 646px;
  height: 100%;
  display: flex;
  flex-flow: column;
  -webkit-transform: none;
  transform: none;
  justify-content: center;
  min-height: 459px;
}

#contact_left_pane #contact {
  float: left;
  color: #98ff98;
  font-size: 4.1em !important;
  margin-top: 30px;
  margin-bottom: 21px;
}

#contact_left_pane #me {
  float: right;
  color: #f65026;
  font-size: 4.1em !important;
  margin-top: 30px;
  margin-bottom: 21px;
  position: relative;
  right: 334px;
}

#contact_left_pane .line { 
  position: relative; 
  margin-top: 0px;
}

#contact_left_pane p {
  float: left;
  position: relative;
  top: 15px;
  text-align: left !important;
}

#contact_form {
  float: left;
  position: relative;
  top: 20px;
  margin-top: 7.5px;
  color: #9a9a9aa1;
}

#contact_form input {
  width: 644.61px;
  height: 50px;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 16px;
  background-color: #252627;
  border: none;
}

#contact_form input:focus {
  outline: none;
}

#contact_form #name {
  width: 317.305px;
  margin-right: 7px;
}

#contact_form #email {
  width: 317.305px;
}

#contact_form #message {
  padding: 20px;
  height: 150px;
  width: 644.61px;
  font-size: 16px;
  background-color: #252627;
  border: none;
}

#contact_form #message:focus {
  outline: none;
}

#send_button {
  float: right;
  width: 64.56px !important;
  height: 30px !important;
  padding: 0px !important;
  display: block;
  text-decoration: none;
  line-height: 10px;
  text-align: center;
  letter-spacing: 3px;
  font-family: "Montserrat", "Tahoma";
  font-size: 11px !important;
  color: #98ff98;
  border: thin solid #98ff98 !important;
  border-radius: 3px;
  margin: 0 auto;
  margin-right: 10px;
  margin-top: 5px;
  background-color: #3f3f3f !important;
}

#send_button:hover {
  color: #3f3f3f;
  background-color: #98ff98 !important;
}

@media only screen and (max-width: 363px) {

  #skills_right_pane { top: 100px; }

  #skills_project_img { top: 100px; }

}


@media only screen and (min-width: 1148px) {

  #contact_left_pane * { top: 6.4% !important; }

}

@media only screen and (max-height: 597px) and (max-width: 1148px) {
  
  #skills_left_pane { top: auto !important; }

}

/*----------------- navbar -----------------*/

@media only screen and (max-height: 523px), (max-width: 821px) and (min-width: 511px) {

  html, body { overflow: visible; }

  body {
    position: relative;
    top: 60px;
  }

  .navbar {
    width: 100%;
    height: 60px;
    min-width: 650px;
  }

  .navbar #logo {
    float: left;
    width: 110.88px;
    height: 59px;
  }

  .navbar ul {
    display: none !important;
    height: 30px;
    min-height: 30px;
    min-width: 131px;
    margin-top: 15px;
    margin-right: 10px;
    left: auto;
    display: block;
    float: right;
    position: static;
  }

  .navbar ul li, .navbar ul a { 
    display: inline-block !important;
    width: 30px !important;
    height: 30px !important;
    background-position-x: 35% !important;
  }

  .navbar #button_panel {
    top: auto;
    bottom: 153px;
    margin-top: auto;
    bottom: auto;
    left: 60% !important;
    width: 65%;
    height: 60px;
    min-height: 60px;
    text-align: center;
    min-width: 387px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .navbar .buttons { 
    float: left;
    margin-left: 5.6% !important;
    display: inline-block; 
    top: auto !important;
    position: static !important;
  }

  .sample_containers {
    margin-left: 0 !important;
  }

  #contact_left_pane {
    top: -30px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

@media only screen and (max-width: 1148px) {

/*--------------- home page ---------------*/

  html, body { overflow: visible; }

  .column {
    display: flex;
    flex-flow: column !important;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 597px;
    justify-content: space-evenly !important;
  }

  #intro, .left_pane {
    order: 1;
    position: relative !important;
    top: 0;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #selfie_container, .right_pane {
    order: 2;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #skills_left_pane {
    left: 0 !important;
    height: auto !important;
    -webkit-transform: none !important;
    transform: none !important;
  }

  #skills_left_pane, #headline2, #headline1, #ampersand {
    margin: 0 auto !important;
  }

  #skills_left_pane .line { 
    margin: 0 auto !important;
    margin-top: 30px !important; 
  }

  #headline1 {
    margin-right: 0px !important;
    margin-bottom: 5px !important;
  }

  #headline2 { margin-bottom: 31px !important; }

  #ampersand {
    right: 0;
    left: 10px;
  }

  #skills_left_pane ul { justify-content: center; }

  #skills_left_pane p {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 14px;
  }

  #skills_right_pane {
    position: relative;
    top: 0;
    right: 0;
    width: 446.81px;
    height: 250.01453px;
  }

  #skills_left_pane li { margin: 3px 3px; }

  #skills_project_img { height: 250.01453px !important; }

  #skills_project_img img {
    width: 446.81px !important;
    height: 250.01453px !important;
  }

  #skills_project_img img.show { 
    transform: translateX(-94%) !important;
  }

  #selfie_container {
    bottom: 70px;
    min-height: 189px;
  }

  #intro {
    margin-bottom: 120px; 
    min-height: 241.39px;
  }
}

@media only screen and (max-width: 375px) and (max-height: 820px) {

  #home_page p { font-size: 10px !important; }

  #skills_right_pane {
    top: 23% !important;
  }
}

@media only screen and (min-width: 376px) and (max-width: 415px) and (max-height: 820px) {

  #home_page p { font-size: 11.5px !important; }

  #skills_right_pane { top: 20% !important; }
}


/* ----------- iPhone 8 plus ----------- */

@media only screen and (max-width: 527px) and (max-height: 820px) {

  html, body { overflow: visible; }

  .left_pane { top: 135px !important; }

  #intro { top: auto !important; }

  .column { top: 80px; }

  .navbar {
    width: 100%;
    height: 60px;
  }

  .navbar #logo {
    float: left;
    height: 59px;
    width: 60px;
  }

  .navbar #header_toggler {
    float: right;
    height: 30px;
    width: 25.7167px;
    object-fit: contain;
    background-image: url("horizontal_spritesheet");
    background-size: 30px;
    margin-top: 15px;
    margin-right: 15px;
  }

  .navbar #button_panel {
    display: flex !important;
    left: 100%;
    top: 60px;
    bottom: auto;
    background-color: #181818;
    margin-top: auto;
    width: 100% !important;
    height: 60px;
    min-height: 60px;
    min-width: 387px;
    opacity: 0;
    webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    justify-content: space-evenly;
  }

  .navbar .buttons { 
    top: 3px !important;
    left: 0.5% !important;
    display: inline-block;
    position: relative !important;
    margin: 0 !important;
    width: 17% !important;
    height: 57px !important;
  }

  .navbar ul { display: none; }

  #home_page p { font-size: 11.5px; }

  #home_page #selfie_container {
    height: 122.5px !important;
    min-height: 122.5px !important;
    width: 169.715px !important;
    bottom: 100px;
  }

  #home_page #selfie {
    padding: 4.335% !important;
    padding-top: 5.5694% !important;
    padding-bottom: 0 !important;
    width: 92.81% !important;
    height: 100% !important;
  }

  #home_page #selfie img {
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 51.04px !important;
  }

  #home_page #selfie_caption {
    top: 114% !important;
    left: auto;
    right: 2px;
    width: 100.2635% !important;
    height: 27.785% !important;
    font-size: 17px !important;
    line-height: 0px !important;
  }

  #selfie:hover + #selfie_caption, #selfie:active + #selfie_caption {
    -webkit-transform: scale(1.251, 1.179) translate(3px, 19px) !important;
    -o-transform: scale(1.251, 1.179) translate(3px, 19px) !important;
    -moz-transform: scale(1.251, 1.179) translate(3px, 19px) !important;
    transform: scale(1.251, 1.179) translate(3px, 19px) !important;
  }

  #about_left_pane {
    top: 135px !important;
    left: 50% !important;
    width: 80% !important;
    -webkit-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
    justify-content: normal;
  }

  #skills_page {
    top: auto !important; 
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    flex-flow: row !important;
  }

  #skills_container {
    position: absolute;
    top: 135px !important;
    width: 80%;
    min-width: 229.59px;
    height: 110%;
    display: flex;
    flex-flow: column;
  }

  #skills_left_pane, #headline2, #headline1, #ampersand { margin: 0 !important; }

  #skills_left_pane {
    top: 0 !important;
    width: 100% !important;
    justify-content: normal;
    margin-bottom: 5px;
  }

  #skills_left_pane .line {
    margin: 0 !important;
    margin-bottom: 15px !important;
  }

  #skills_left_pane ul { justify-content: space-between; }

  #skills_right_pane { 
    top: 5% !important;
    width: 100% !important;
  }

  #skills_project_img img.show { 
    transform: translateX(-82.5%) !important;
  }

  #headline2 { margin-bottom: 36px !important; }

  #ampersand { float: none !important; }

  #me { 
    float: left !important;
    right: 0 !important;
    left: 10px !important;
  }

  #my_work_page { top: 60px; }

  .sample_containers {
    width: 100% !important;
    margin-left: 0 !important;
  }

  #contact_left_pane {
    top: 135px !important;
    margin: 0 !important;
    width: 80% !important;
    left: 50% !important;
    display: flex;
    flex-flow: column;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    justify-content: normal;
  }

  #contact_form { float: none; }

  #contact_form input[type=text], input[type=email], textarea  {
    width: 100% !important;
  }
}