@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  position: relative;
  width: 1370px;
  height: 100%;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  background-color: #3f3f3f;
  overflow: hidden;
}

::selection {
  background: #FF8300;
  color: white;
}
::-moz-selection {
  background: #FF8300;
  color: white;
}

#intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1, p {
  letter-spacing: -1px;
  text-align: center;
  font-family: "Montserrat", "Tahoma";
}

h1 {
  font-family: "Montserrat", "Tahoma";
  color: #cfcfcf;
  font-size: 1.6em;
  line-height: 36px;
  font-weight: 700;
}

p {
  font-size: 1.18em;
  color: #7a7a7a;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  z-index: 99;
  background-color: #181818;
}

/*.navbar #logo_container {
  background-color: #070707;
  width: 59px;
  height: 80.88px;
}*/

.navbar #logo {
  width: 59px;
  height: 80.88px;
  margin: 0 auto;
  position: relative;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica";
  font-weight: bold;
  line-height: 26px;
  color: rgb(237, 93, 31);
  background-color: #070707; /*#3f3f3f*/
  text-align: center;
  vertical-align: bottom;
}

#center_column {
  position: relative;
  left: 60px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: 100%;
  padding: 46px 23px;
  padding: 0;
}

.sample_containers {
  width: 33.3333%;
  height: 33.3333%;
}

.sample_containers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#sample_container1 {
  background-color: #4267b2;
}

#sample_container1 img {
  order: 1;
  background-color: #4267b2;
  object-fit: contain;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -150.69px !important;
  width: 301.38666px;
  margin: 0 auto;
}

#sample_container2 img {
  order: 2;
}

.navbar #button_panel {
  display: table;
  float: right;
  height: 75px;
  width: 503px;
}

.navbar .buttons {
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar .buttons h {
  line-height: 75px;
}

.navbar #home {
  margin: 0 auto;
  background-image: url("home.png");
}

.navbar #home_green {
  margin: 0 auto;
  background-image: url("home green.png");
}

.navbar #about {
  top: 56px;
  background-image: url("about.png");
}

.navbar #about_green {
  top: 56px;
  background-image: url("about green.png");
}

.navbar #skills {
  top: 112px;
  background-image: url("skills.png");
}

.navbar #skills_green {
  top: 112px;
  background-image: url("skills green.png");
}

.navbar #my_work {
  top: 168px;
  background-image: url("my_work.png");
}

.navbar #my_work_green {
  top: 168px;
  background-image: url("my_work green.png");
}

.navbar #contact {
  top: 219px;
  background-image: url("contact.png");
}

.navbar #contact_green {
  top: 219px;
  background-image: url("contact green.png");
}

.navbar #button_panel {
  position: absolute;
  top: 50%;
  margin-top: -135px;
  width: 60px;
  height: 270px;
}

.navbar .buttons {
  position: absolute;
  background-size: 22px 23px;
  width: 60px;
  height: 51px;
}

#button_panel a {
  width: 60px;
  height: 51px;
}

#contact_me {
  display: block;
  text-decoration: none;
  width: 131px;
  height: 33.4px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 3.5px;
  font-family: "Montserrat", "Tahoma";
  font-size: 11px;
  color: #f65026;
  border: thin solid #f65026;
  border-radius: 3px;
}

#contact_me:hover {
  background-color: #f65026;
  color: #3f3f3f;
}

.navbar ul {
  object-fit: cover;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 60px;
  height: 120px;
}

.navbar ul li {
  width: 60px;
  height: 30px;
  background-size: 13.93333px 15px;
  background-repeat: no-repeat;
  background-position: center;
}

ul a {
  display: block;
  width: 60px;
  height: 30px;
}

#twitter {
  background-image: url("twitter.png");
  background-size: 20px !important;
}

#twitter:hover {
  background-image: url("twitter green.png");
}

#linkedin {
  background-image: url("linkedin.png");
}

#linkedin:hover {
  background-image: url("linkedin green.png");
}

#facebook {
  background-image: url("facebook.png");
}

#facebook:hover {
  background-image: url("facebook green.png");
}

#rss {
  background-image: url("rss.png");
}

#rss:hover {
  background-image: url("rss green.png");
}

#silver_star {
  position: relative;
  left: 100px;
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.engraved_text {
  display: block;
  margin: 0 auto;
  font-family: "Century Gothic", "HelveticaNeueLT Pro 45 Lt",
                sans-serif;
  text-shadow: -1px -1px 1px #000;
  position: relative;
  bottom: 200px;
}

.engraved_text p {
  color: #c0c0c0;
}

#skills_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#skills_left_pane {
  order: 1;
  display: flex;
  flex-flow: column;
  margin: 0 auto !important;
  width: 410px;
  height: 100%;
  justify-content: center;
  position: absolute;
  left: 10%;
}

#skills_right_pane {
  order: 2;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#skills_left_pane ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

#skills_left_pane li {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85em;
  font-weight: bold;
  color: #999;
  background-color: #545454;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  border: thin solid #222;
  padding: 8px 5px;
  border-radius: 3px;
  margin: 8.3px 3px;
  position: relative;
  right: 3px;
}

#skills_left_pane h1 {
  font-size: 4.1em !important;
  text-align: left;
  margin: 0;
  margin-bottom: 15px;
  font-size: 48px;
}

#skills_left_pane #headline1 {
  float: left;
  color: #f65026;
}

#skills_left_pane #ampersand {
  float: right;
  position: relative;
  right: 207px;
}

#skills_left_pane #headline2 {
  color: #98ff98;
}

#skills_left_pane p {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 26px;
}

#skills_project_img {
  position: absolute;
  right: 5.6204%;
  top: 23.1%; /*23.1%;*/
  height: 100%;
  object-fit: cover;
}

#skills_project_img img {
  height: 50%; /*60%*/
}