@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  position: relative;
  width: 1370px;
  height: 100%;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  background-color: #3f3f3f;
  overflow: hidden;
}

#intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1, p {
  letter-spacing: -1px;
  text-align: center;
}

h1 {
  font-family: Montserrat, Tahoma;
  color: #cfcfcf;
  font-size: 1.6em;
  line-height: 36px;
  font-weight: 700;
}

p {
  font-size: 1.18em;
  color: #7a7a7a;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  z-index: 99;
  background-color: #181818;
}

/*.navbar #logo {
  width: 59px;
  height: 80.8833px;
  object-fit: cover;
  font-size: 25px;
  color: rgb(255, 186, 207);
  background-color: #7a7a7a;
}*/

#center_column {
  position: relative;
  left: 60px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: 100%;
  padding: 46px 23px;
  padding: 0;
}

.sample_containers {
  width: 33.3333%;
  height: 33.3333%
}

.sample_containers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#sample_container1 {
  background-color: #4267b2;
}

#sample_container1 img {
  order: 1;
  background-color: #4267b2;
  object-fit: contain;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -150.69px !important;
  width: 301.38666px;
  margin: 0 auto;
}

#sample_container2 img {
  order: 2;
}

.navbar #button_panel {
  display: table;
  float: right;
  height: 75px;
  width: 503px;
}

.navbar .buttons {
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar .buttons h {
  line-height: 75px;
}

.navbar #home {
  margin: 0 auto;
  background-image: url("home.png");
}

.navbar #home_green {
  margin: 0 auto;
  background-image: url("home green.png");
}

.navbar #about {
  top: 56px;
  background-image: url("about.png");
}

.navbar #about_green {
  top: 56px;
  background-image: url("about green.png");
}

.navbar #skills {
  top: 112px;
  background-image: url("skills.png");
}

.navbar #skills_green {
  top: 112px;
  background-image: url("skills green.png");
}

.navbar #my_work {
  top: 168px;
  background-image: url("my_work.png");
}

.navbar #my_work_green {
  top: 168px;
  background-image: url("my_work green.png");
}

.navbar #contact {
  top: 219px;
  background-image: url("contact.png");
}

.navbar #contact_green {
  top: 219px;
  background-image: url("contact green.png");
}

.navbar #button_panel {
  position: absolute;
  top: 50%;
  margin-top: -135px;
  width: 60px;
  height: 270px;
}

.navbar .buttons {
  position: absolute;
  background-size: 22px 23px;
  width: 60px;
  height: 51px;
}

#button_panel a {
  width: 60px;
  height: 51px;
}

#contact_me {
  display: block;
  text-decoration: none;
  width: 131px;
  height: 33.4px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 3.5px;
  font-size: 11px;
  color: #f65026;
  border: thin solid #f65026;
  border-radius: 3px;
}

#contact_me:hover {
  background-color: #f65026;
  color: #3f3f3f;
}

.navbar ul {
  object-fit: cover;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 60px;
  height: 120px;
}

.navbar ul li {
  width: 60px;
  height: 30px;
  background-size: 13.93333px 15px;
  background-repeat: no-repeat;
  background-position: center;
}

ul a {
  display: block;
  width: 60px;
  height: 30px;
}

#twitter {
  background-image: url("twitter.png");
  background-size: 20px !important;
}

#twitter:hover {
  background-image: url("twitter green.png");
}

#linkedin {
  background-image: url("linkedin.png");
}

#linkedin:hover {
  background-image: url("linkedin green.png");
}

#facebook {
  background-image: url("facebook.png");
}

#facebook:hover {
  background-image: url("facebook green.png");
}

#rss {
  background-image: url("rss.png");
}

#rss:hover {
  background-image: url("rss green.png");
}