.text_display, .sample_description {
  font-family: Montserrat, Tahoma;       
  font-weight: normal;
  text-align: center;      
}

.buttons:hover .text_display, .sample_containers:hover .sample_description {
  display: block;
  position: relative;
  background: rgba(0, 0, 0, 0.5);   
  color: #98ff98;   
}

#home:hover {
  background-image: url("home green.png");
}

#about:hover {
  background-image: url("about green.png");
}

#skills:hover {
  background-image: url("skills green.png");
}

#my_work:hover {
  background-image: url("my_work green.png");
}

#about:hover {
  background-image: url("about green.png");
}

#contact:hover {
  background-image: url("contact green.png");
}

/*------------- general navbar only -------------*/

#general.navbar .button_transform {
  transition-duration: 0.5s;            
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s;    
  -o-transition-duration: 0.5s;
  overflow: hidden;
  height: 0px;
}

#general.navbar .buttons:hover .button_transform {
  height: 50px;
}

#general.navbar .text_display, .sample_description {
  display: none;
  transform-origin: top !important;               
  transition-duration: 0.5s;               
  -webkit-transform-origin: top;       
  -webkit-transition-duration: 0.5s;   
  -moz-transform-origin: top;        
  -moz-transition-duration: 0.5s;       
  -o-transform-origin: top;    
  -o-transition-duration: 0.5s;
  font-size: 16px;
}

#general.navbar .buttons:hover .text_display {
  display: block;
  bottom: 50px;
  height: 74px;
  width: 75px;
}

/*------------- landing navbar only -------------*/

#landing.navbar .buttons:hover .text_display, .text_display:hover {
  background-color: #181818;
  -webkit-transition: background-color 100ms linear, opacity 1s linear;
  -ms-transition: background-color 100ms linear, opacity 1s linear;
  transition: background-color 100ms linear, opacity 1s linear;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#landing.navbar .text_display {
  opacity: 0;
  width: 59px;
  height: 51px;
  line-height: 51px !important;
}

#landing.navbar .text_display h {
  line-height: 51px !important;
}