.button_transform {
  transition-duration: 0.5s;            
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s;    
  -o-transition-duration: 0.5s;
  overflow: hidden;
  height: 0px;
}

.image_transform {
  transition-duration: 0.5s;            
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s;    
  -o-transition-duration: 0.5s;
}

.buttons:hover .button_transform {
  height: 50px;
}

.sample_containers:hover .image_transform {
  height: 254.17px;
}

.text_display, .sample_description {
  display: none;
  /*transform-origin: top !important;               
  transition-duration: 0.5s;               
  -webkit-transform-origin: top;       
  -webkit-transition-duration: 0.5s;   
  -moz-transform-origin: top;*/         
  -moz-transition-duration: 0.5s;       
  /*-o-transform-origin: top;    
  -o-transition-duration: 0.5s;*/
  font-size: 16px;
  font-family: Arial;       
  font-weight: normal;
  text-align: center;
  color: #FFF;       
}

#landing.navbar .text_display {
  width: 59px;
  height: 51px;
  line-height: 51px !important;
}

#landing.navbar .text_display h {
  line-height: 51px !important;
}

#landing.navbar #my_work h {
  position: relative;
  top: 6.5px;
  display: block;
  line-height: 20px !important;
}

.buttons:hover .text_display, .sample_containers:hover .sample_description {
  display: block;
  position: relative;
  background: rgba(0, 0, 0, 0.5);   
  color: #fff;   
}

.buttons:hover .text_display {
  bottom: 50px;
  height: 75px;
  width: 75px;
}

.sample_containers:hover .sample_description {
  height: 254.17px;
  width: 452.09px;
  bottom: 254.17px;
}