.text_display {
  font-size: 11px;
  letter-spacing: 1.25px;
  font-family: Montserrat, Tahoma;       
  font-weight: normal;
  text-align: center;      
}

.buttons:hover .text_display {
  display: block;
  position: relative;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);   
  color: #98ff98;   
}

#home:hover {
  background-image: url("home green.png");
}

#about:hover {
  background-image: url("about green.png");
}

#skills:hover {
  background-image: url("skills green.png");
}

#my_work:hover {
  background-image: url("my_work green.png");
}

#about:hover {
  background-image: url("about green.png");
}

#contact:hover {
  background-image: url("contact green.png");
}

.navbar .buttons:hover .text_display, .text_display:hover {
  background-color: #181818;
  -webkit-transition: background-color 100ms linear, opacity 1s linear;
  -ms-transition: background-color 100ms linear, opacity 1s linear;
  transition: background-color 100ms linear, opacity 1s linear;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.navbar .text_display {
  opacity: 0;
  width: 59px;
  height: 51px;
  line-height: 51px !important;
}

.navbar .text_display h {
  line-height: 51px !important;
}