.sample_containers {
  opacity: 0.4;
}

.sample_containers:hover {
  object-fit: cover !important;
  opacity: 1;
  overflow: hidden;
}

.sample_containers:hover a img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 150ms ease-in-out;
}

/* Change background to background image of a circle */
.sample_description {
  overflow: hidden;
  position: relative;
  bottom: 82.14%;
  width: 120px;
  height: 230px;
  visibility: hidden;
  display: block;
  margin: 0 auto;
  opacity: 0;
  background: url(circle.png) no-repeat center;
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  background-position: 0 0px; 
}

.sample_containers:hover .sample_description {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}