.sample_containers {
  opacity: 0.4;
}

.sample_containers:hover {
  object-fit: cover !important;
  opacity: 1;
  overflow: hidden;
}

.sample_containers:hover a img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all .1s ease-in-out;
}

.sample_description {
  overflow: hidden;
  position: relative;
  bottom: 53.0659%;
  width: 1em; /*4.075%;*/
  height: 1em; /*6.6%;*/
  visibility: hidden;
  display: block;
  margin: 0 auto;
  background: rgb(237, 93, 31); 
  border-radius: 100%;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s linear;        
}

.sample_containers:hover .sample_description {
  visibility: visible;
  -webkit-transform: scale(10, 10);
  transform: scale(10, 10);
}

.sample_text, .sample_text:hover, .sample_text:active, 
.sample_text:visited, .sample_text:link {
  visibility: hidden;
  position: relative;
  bottom: 123.165px;
  left: 2px;
  width: 240px;
  display: block;
  margin: 0 auto;
  font-size: 5.5px;
  font-family: Montserrat, Tahoma;       
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  line-height: 0px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  bottom: 58.5%;
  -webkit-transform: translateY(58.5%);
  transform: translateY(58.5%);
}

.sample_text p { 
  color: #000000;
  letter-spacing: 3px;
}

.sample_containers:hover .sample_text {
  visibility: visible;
  -webkit-transform: scale(1.95, 2);
  transform: scale(1.95, 2);
}