#selfie {
  float: right;
  margin: 35px 38px;
  object-fit: cover;
  box-sizing: content-box;
  height: 175.5px;
  width: 225px;
  background-color: white;
  padding: 10.5px;
  padding-top: 13.5px;
  padding-bottom: 48.75px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

#selfie:hover {
  position: relative;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  z-index: 5;
}

#selfie:hover + #selfie_caption {
  transform: translateY(20px);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-transform: translateY(20px);
  -o-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transition: all 2s ease-in-out;
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  z-index: 6;
}

#selfie_caption {
  position: absolute;
  top: 233.75px;
  right: 102.5px;
  font-family: "Permanent Marker";
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  font-size: 20px;
  color: black;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}