<table id="button_panel"> 
  <tr class="buttons" id="home">
    <td class="button_transform">
      <td class="text_display">
        <h>Home</h>
      </td>
    </td>
  </tr>
  <tr class="buttons" id="about">
    <td class="button_transform">
      <td class="text_display">
        <h>About</h>
      </td>
    </td>
  </tr>
  <tr class="buttons" id="skills">
    <td class="button_transform">
      <td class="text_display">
        <h>Skills</h>
      </td>
    </td>
  </tr>
  <tr class="buttons" id="my_work">
    <td class="button_transform">
      <td class="text_display">
        <h>My Work</h>
      </td>
    </td>
  </tr>
  <tr class="buttons" id="contact">
    <td class="button_transform">
      <td class="text_display">
        <h>Contact</h>
      </td>
    </td>
  </tr>
</table>